{% extends 'base.html' %}

{% block content %}

<pre>
    <code class= 'line-numbers language-python'>
        if name =="rita":
            print("hello girl")
        else:
            print("good by")
    </code>
</pre>
<br/> <br/>

<form  method=post actions="{% url 'home' %}">
     {% csrf_token %} 
     <form>
        
          <div class="mb-3">
            <textarea class="form-control" name="code" placeholder ="have ai fix my code" rows="5"></textarea>
          </div>
          <br/>
          
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            
            <option value="1">One</option>
            
          </select>
        <br/>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        
        
      </form>
      
      


{% endblock %}

